  <nb-card size="small" class="border-default">
    <nb-card-header>
      TWITTER Popularity
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;">

        <div #nbCardTwitterPopularity id="nbCardTwitterPopularity">
            <ngx-charts-pie-chart
              [view]="[width, height]"
              [doughnut]="true"
              [arcWidth]="0.5"
              [scheme]="colorScheme"
              [results]="twitterPopularity"
              [labels]="showLabels">
            </ngx-charts-pie-chart>
         </div>

    </nb-card-body>
  </nb-card>
