  <nb-card size="small" class="border-default">
    <nb-card-header>
      LINKEDIN Skill
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body id="nbCardLinkedinBubble" #nbCardLinkedinBubble style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;">
        <ngx-bubble [data]="linkedinBubble"></ngx-bubble>
    </nb-card-body>
  </nb-card>
