  <nb-card size="small" class="border-default">
    <nb-card-header>
      KEYBASE Devices
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body id="nbCardGraphs" #nbCardGraphs style="text-align: center; overflow: hidden;">
        <ngx-graphs [data]="keybaseDevices"></ngx-graphs>
    </nb-card-body>
  </nb-card>
