  <nb-card size="small" class="border-default">
    <nb-card-header>
      TWITTER Mentions (100 last tweets)
      <div [ngClass]="data.result[2].validation"><span class="icon validation"></span></div>
    </nb-card-header>
    <nb-card-body id="nbCardTwitterUsers" #nbCardTwitterUsers style="text-align: center; overflow: hidden; margin: 0px; padding: 0px;">
        <ngx-simple-graphs [data]="twitterUsers"></ngx-simple-graphs>
    </nb-card-body>
  </nb-card>
